<% content_for :title, "Editing post" %>

<h2 class="page-title center-text">Edit Post</h2>

<div class="form-box">
  <%= render "form", post: @post %>

  <div class="opções mt-4">
    <%= link_to @post, class: "btn btn-neutral", title: "Visualizar post" do %>
      <span class="material-symbols-outlined">visibility</span>
    <% end %>

    <%= link_to posts_path, class: "btn btn-neutral", title: "Voltar para posts" do %>
      <span class="material-symbols-outlined">undo</span>
    <% end %>
  </div>
</div>
