<% content_for :title, "Editing comment" %>

<h2 class="page-title center-text">Edit Comment</h2>

<div class="form-box">
  <%= render "form", comment: @comment %>
  <br>
  <div class="opções mt-4">
    <%= link_to @comment, class: "btn btn-neutral", title: "Visualizar comentário" do %>
      <span class="material-symbols-outlined">visibility</span>
    <% end %>

    <%= link_to comments_path, class: "btn btn-neutral", title: "Voltar para comentários" do %>
      <span class="material-symbols-outlined">undo</span>
    <% end %>
  </div>
</div>
